body {
  background: linear-gradient(to bottom, lightblue, lightgreen, lightyellow);
  margin-left: 20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.gympic {
  width: 300px;
  height: 450px;
}
.Split1 {
  margin-left: -130px;
}
.split2 {
  margin-left: -130px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.reason {
  margin-right: 300px;
  margin-left: -180px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
